<div class = "main"> 
  <div class="container-fluid">   
      <% if @posts.exists? %>
        <h1 class="text-center">Top Posts</h1>
      <% else %>
        <h1>Oop! No matching posts ...</h1>
      <% end %>
    <ul>
        <% @posts.each do |post|%>
        <li>
        <div class="avatar">
      <% if post.user.avatar.attached? %>
        <%= link_to user_path(post.user) do %>
          <%= image_tag post.user.avatar %>
        <% end %>
      <% end %>
          <div class="wrapper">
            <%if post.image.attached? %>
            <%= image_tag post.image, class: 'main-image' %>
            <%end%>
            <%=post.content %>
          </div>
        <% end %>
        </li>
      </ul>  
      </div>
  </div> 
</div>